* {
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  font-size: 24px;
}

body {
    display: flex;
    align-self: center;
    justify-self: center;
    flex-direction: column;
}

.spr, .winOrLose, .bestOfFive {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    flex: 1;
    margin: 8px;
    padding: 8px;
    border: 2px solid rgb(11, 62, 62);
    gap: 68px;
    background-color: rgb(238, 123, 82);
}

.choicesContainer {
  display: flex;
  justify-items: center;
}

.playerChoice, .opponentChoice {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  flex: 1;
  margin: 8px;
  padding: 8px;
  border: 2px solid rgb(107, 41, 17);
  gap: 68px;
  background-color: rgb(238, 123, 82);
}

.buttonContainer {
    display: flex;
}

.resultsContainer, .gamesContainer {
    display:flex;
    flex: 1;
}

.results, .games {
    align-self: center;
    flex-direction: row;
    justify-content: space-evenly;
    flex: 1;
    margin: 8px;
    padding: 8px;
    border: 2px solid black;
    gap: 36px;
    background-color: rgb(47, 194, 145);
}

.btn {
    border: 2px solid black;
    align-self: center;
    justify-content: space-evenly;
    flex: 1;
    margin: 8px;
    padding: 8px;
    gap: 36px;
    transition:all 0.07s;
    background-color: rgb(47, 194, 145);
}

.activated {
    transform:scale(1.1);
    border-color: teal;
    box-shadow: 0 0 10px solid black;
}



/*
html {
  font-size: 10px;
  background: url('./background.jpg') bottom center;
  background-size: cover;
}

body,html {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

.keys {
  display: flex;
  flex: 1;
  min-height: 100vh;
  align-items: center;
  justify-content: center;
}

.key {
  border: .4rem solid black;
  border-radius: .5rem;
  margin: 1rem;
  font-size: 1.5rem;
  padding: 1rem .5rem;
  transition: all .07s ease;
  width: 10rem;
  text-align: center;
  color: white;
  background: rgba(0,0,0,0.4);
  text-shadow: 0 0 .5rem black;
}

.playing {
  transform: scale(1.1);
  border-color: #ffc600;
  box-shadow: 0 0 1rem #ffc600;
}

kbd {
  display: block;
  font-size: 4rem;
}

.sound {
  font-size: 1.2rem;
  text-transform: uppercase;
  letter-spacing: .1rem;
  color: #ffc600;
}
*/