* {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.spr, .btn, .playerChoice, .opponentChoice, .winOrLose, .results, .bestOfFive, .games {
  font-size: 24px;
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

a:link {
  text-decoration: none;
}

a:visited { 
  text-decoration:none;
  color: white;
 }

a:hover {
  text-decoration: none;
}

a:active {
  text-decoration: none;
}

.header, .footer {
  background-color: #1F2937;
  color: white;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  flex: 1;
  padding: 12px;
}

.headerText {
  font-size: 32px;
}

.footerText {
  font-size: 16px;
}

.header {
  margin-bottom: 40px;
  justify-content: space-around;
}

.footer {
  margin-top: 40px;
}

body {
    display: flex;
    align-self: center;
    justify-self: center;
    flex-direction: column;
}
.contentContainer {
  margin-left: 80px;
  margin-right: 80px;
  display: flex;
  flex-direction: column;
  font-size: 24px;
}

.spr, .winOrLose, .bestOfFive {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    flex: 1;
    margin: 8px;
    padding: 8px;
    gap: 68px;
    border: 2px solid #261D11;
    background-color: #A6290D;
    color: #F2E2C4;
    
}

.choicesContainer {
  display: flex;
  justify-items: center;
  font-size: 24px;
  color: #261D11;
}

.playerChoice, .opponentChoice {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  flex: 1;
  margin: 8px;
  padding: 8px;
  gap: 68px;
  border: 2px solid #F2E2C4;
  color: #F2E2C4;
  background-color: #261D11;
  
}

.buttonContainer {
    display: flex;
    flex-direction: row;
    
}

.resultsContainer, .gamesContainer {
    display:flex;
    flex: 1;
}

.results, .games {
    align-self: center;
    flex-direction: row;
    justify-content: space-evenly;
    flex: 1;
    margin: 8px;
    padding: 8px;
    border: 2px solid #261D11;
    gap: 36px;
}

#userResults, #userGames {
  background-color: #0477BF;
  color: #F2E2C4;
  font-size: 24px;
}

#computerResults, #computerGames {
  background-color: #F2B705;
  font-size: 24px;
}

.btn {
    border: 2px solid #261D11;
    align-self: center;
    justify-content: space-evenly;
    flex: 1;
    margin: 8px;
    padding: 8px;
    gap: 36px;
    transition:all 0.07s;
    background-color: #F2E2C4;
    font-size: 24px;
}

.activated {
    transform:scale(1.15);
    border-color: #A6290D;
    box-shadow: 0 0 10px solid #261D11;
}
